.navbar{
  position: sticky;
  top: 0;
  background-color: rgb(218, 214, 214) !important;
  z-index: 1;
}

.main-banner{
  /* border: 2px solid red; */
  height: 100vh;
  background-image: url('/Asset/Images/tropical-beach.jpg');
  background-position: center;
  background-size: cover;
}

.banner-title{
  font-size: 3rem;
}

.about-us{
  /* border: 2px solid red; */
  height: 75vh;
}

.about-us-img{
  background-image: url('/Asset/Images/map.jpg');
  background-position: center;
  background-size: cover;
}
